.FAQS{
    /* border: solid 5px black; */
    width: 100%;
    height: fit-content;
    background-color: #a39279;

}
.FAQ-container{
    height: 90vh;
    align-items: center;
    display: flex;
    justify-content: center;
}


.question-box{
    background-color: #252523;
    width: 70%;
    height: 75vh;
    
}

.faq-title{
    text-align: center;
    margin-bottom: 40px;
    padding-top: 20px;
}

.query{
    height: 25%;
    border-bottom: 2px #a39279 solid;
    display: flex;
    justify-content: flex-end;
}

.query p {
    max-width: 75%;
    text-align: center;
    margin: auto;
    color: #a39279;
    
}

.arrow-container{
    border-left: 2px #a39279 solid;
    height: 100%;
    width: 20%;
    text-align: center;
    
}

.arrow-container:hover{
    background-color: #dfd8c8;
}
.arrow:hover{
    border: #252523;
}

.arrow {
    border: solid white;
    border-width: 0 8px 8px 0;
    display: inline-block;
    padding: 7px;
    position: relative;
    top: 40%;
  }

  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }


   .faq-ans{
        
      width: 70%;
      height: 30vh;
      background-color: #252523;
      box-shadow: 5px 10px ;
      position: absolute;
      margin-top: 20vh;
    
      
      z-index: 3;

  }
  /* *{
      background-color: grey;
      opacity: 0.8;
      
  }  */



  @media screen and (max-height:400px){
    .query p {
        font-size: 0.7rem;
    }
  }