*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* font-family: 'Alegreya Sans', sans-serif; */
    font-family: 'Poppins', sans-serif;
}


header{
    width: 100%;
    height: fit-content;
    /* height: 100vh; */
    /* border: 2px black solid; */
    background-color: #a39279;

}


  
  img {
    width:100%;
    height:550px;
    object-fit:cover;
    object-position:50% 50%;
    filter: brightness(50%);
    
    
  }

  .over-pic{
    position: absolute;
    text-align: center;
    width: fit-content;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #dfd8c8;
    margin-top: 20px;
    font-size: 2rem;
  }
  .over-pic h2{
    border: #dfd8c8 solid 2px;
    padding: 6px;
    
   
  }
  .over-pic div{
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .over-pic h4{
    margin-top: 60px;
    cursor: pointer;
    width: fit-content;
    border: #dfd8c8 solid 2px;
    padding: 6px;
  }

  .over-pic h4:hover{
    background-color: #252523;
    color: #a39279;
    border: #252523 solid 2px;
  }


  nav{
    height: 12vh;
    width: 100%;
    background-color: #252523;
    display: flex;
    position: fixed;
    z-index: 9999;
    top: 0px;
    
  }

  .name{
    width: 45%;
    color: #dfd8c8;
    font-size: 1.4rem;
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .menu{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: #dfd8c8;
  }
  .hide{
    display: none;
  }
  .menu h3{
    cursor: pointer;
  }

  .menu:hover{
    text-decoration: underline;

  }
.menu-click{
  position: fixed;
  z-index: 1;
  text-align: center;
  background-color: #252523;
  color:#dfd8c8;
  height: 45vh;
  left: 50%;
  width: 50%;
  list-style: none;
  padding-top: 3px;
  z-index: 999999999;
  
  
  
}
.menu-click li{
  text-decoration: none;
  margin-bottom: 23px;
  font-size: 1.4rem;
  
  


}
.menu-click a{
  color:#dfd8c8;
  text-decoration: none;
}

.menu-click a:hover{
  text-decoration: underline;
  }

#home-button{
  margin-top: 20px;
}

  @media screen and (min-width:600px){
    .menu-wide{
      color:#dfd8c8 ;
      list-style: none;
      width: 60%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

    }
    .menu-wide a {
      text-decoration: none;
      color:#dfd8c8 ;
    }
    .menu-wide li:hover{
      text-decoration: underline;
      cursor: pointer;
    }
    #small-hide{
      display: none;
    }
}
