.rooms{
    width: 100%;
    height: fit-content;
    /* border: black 5px solid; */
    text-align: center;
    align-items: center;
    background-color:#dfd8c8;
}

.rooms-title{
    width: 100%;
}

.rooms h2{
    padding-top: 20px;
    
    margin-bottom: 30px;
}

.room-card{
    /* border-radius: 10%; */
    margin: auto;
    margin-top: 60px;
    border: black 2px solid;
    width: 20rem;
    height: 60vh;
    min-height: 450px;
    background-color: #252523;
    color:#dfd8c8;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.12), 0 2px 10px rgba(0, 0, 0, 0.24);
}



.room-card img{
    width: 90%;
    height: 50%;
    /* border-radius: 10%; */
}

.room-card h6{
    margin-top: 20px;
    font-size: 1.5rem;
}

/* .room-hr{
    width: 76%;
    height: 3px;
    margin: auto;
    background-color: #a39279;
    color: #a39279;
    
} */
.card-row{
    padding-bottom: 30px ;
}









@media screen and (min-width:860px){
    .card-row{
        display: flex;
        justify-content: space-evenly;
        
    }

}